*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	padding: 0;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #1c1c1c;
	color: #ffffff;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.sub-btn {
	margin-left: 5%;
	margin-top: 3em;
}

.post-grid {
	display: grid;
	margin: 5%;
	grid-template-columns: repeat(auto-fill, minmax(23.5em, 1fr));
	grid-gap: 2em;
	grid-auto-rows: auto;
	align-items: baseline;
}

.toggle-icon {
	display: none;
	cursor: pointer;
}

.post-container {
	width: 23em;
	margin: 5px;
}

.blog-card-img {
	height: 14em;
	border-radius: 2%;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2em;
	font-family: 'Poppins', sans-serif;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	margin-right: 3%;
}

.logo {
	color: #00ffd1;
	cursor: pointer;
}

.header a {
	color: #00ffd1;
	text-decoration: none;
	display: block;
}
.nav a:hover {
	text-decoration: underline;
}

.nav li {
	margin-left: 60px;
}

li {
	list-style: none;
}

.post-title {
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.4em;
	margin-top: 2%;
	margin-bottom: 2%;
}

.post-title:hover {
	color: #00ffd1;
}

.hero {
	margin-left: 5%;
}

.intro {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 2.2rem;
	letter-spacing: -0.02em;
}

.intro2 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 2rem;
}

.intro3 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 2.2rem;
	color: #00ffd1;
}

.email {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	color: #00ffd1;
	text-decoration: underline;
}

.contact {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	width: 25em;
}

.blog {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	width: 27em;
}

.blog a {
	color: #00ffd1;
	text-decoration: underline;
}

.about {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 3rem;
	color: #00ffd1;
	display: flex;
	justify-content: center;
}

.aboutxt {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	width: 35em;
	margin: auto;
	padding-right: 5%;
	padding-left: 5%;
}

.a20hek {
	font-size: 1.5em;
	font-weight: 500;
}

.sub-btn {
	background: #00ffd1;
	border-radius: 5px;
	height: 2.5em;
	width: 7em;
	cursor: pointer;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	border: none;
	font-size: 1em;
}

.date {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	opacity: 0.8;
	margin-top: 1%;
	letter-spacing: -0.02em;
}
.excerpt {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 1.05em;
	letter-spacing: -0.02em;
	margin-bottom: 2%;
	opacity: 0.95;
}

.a:active {
	font-weight: 400;
	text-decoration: underline;
}
.overlay-links {
	display: none;
}
.close-btn {
	display: none;
}
.back {
	cursor: pointer;
	margin-bottom: 2%;
}
.blogpost {
	padding-top: 5%;
	margin-right: 20%;
	margin-left: 20%;
}
.blogpost img {
	width: 100%;
}

.bp-img {
	width: 100%;
}

@media (max-width: 880px) {
	.intro {
		position: relative;
		top: -1em;
		font-size: 1.75em;
		margin-top: 5%;
	}
	.intro2 {
		position: relative;
		top: -1.5em;
		font-size: 1.7em;
	}
	.intro3 {
		position: relative;
		top: -1.5em;
		font-size: 1.7em;
	}
	.email {
		font-size: 1em;
	}
	.contact {
		font-size: 0.8em;
		position: relative;
		top: -3em;
	}
	.blog {
		margin-top: 10%;
		font-size: 1.25em;
		width: 80vw;
		max-width: 20em;
		position: relative;
		top: -4em;
	}
	.hero {
		display: flex;
		position: relative;
		top: -3em;
		flex-direction: column;
		margin-right: 10%;
		margin-left: 10%;
	}
	.header {
		margin: 10%;
		display: flex;
		justify-content: space-between;
	}
	.nav a {
		display: none;
	}
	.toggle-icon {
		display: flex;
		position: absolute;
		right: 10%;
	}
	.post-container {
		width: 18em;
		margin: 0px;
	}
	.blog-card-img {
		max-width: 100%;
		height: auto;
		border-radius: 2%;
		cursor: pointer;
	}
	.post-grid {
		display: flex;
		flex-direction: column;
		margin: 5%;
		align-items: center;
		position: relative;
		top: -2em;
	}

	.sub-btn {
		margin-top: 0;
		margin-left: 10%;
		position: relative;
		top: -2.5em;
	}
	.about {
		position: relative;
		font-size: 2em;
		top: -2em;
	}
	.aboutxt {
		position: relative;
		top: -4em;
		font-size: 1em;
		width: 86%;
		margin: auto;
	}
	.overlay {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000000;
		z-index: 9999;
	}
	.overlay#hidden {
		display: block;
		margin: 0;
		padding: 0;
	}
	.overlay-links {
		display: flex;
		flex-direction: column;
		margin-top: 5em;
		margin-right: 0;
		margin-left: 0;
	}
	.ola {
		font-size: 2em;
		padding: 3%;
		left: -5%;
	}
	.close-btn {
		display: block;
		position: absolute;
		color: #00ffd1;
		height: 4%;
		right: 10%;
		top: 8%;
		cursor: pointer;
	}
}

@media (max-width: 500px) {
	.sub-btn {
		margin-top: 0;
		margin-left: 10%;
		margin-bottom: 10%;
		top: auto;
	}
	.aboutxt {
		font-size: 0.9em;
	}
	.post-grid {
		top: auto;
	}
	.blog {
		top: -2em;
	}
	.ola {
		font-size: 1.5em;
	}
	.close-btn {
		height: 3%;
	}
}

@media (max-width: 600px) {
	.blogpost {
		padding-top: 5%;
		margin-right: 10%;
		margin-left: 10%;
	}
}
